## Visual Studio / dotnet Build Outputs
[Bb]in/
[Oo]bj/
[Tt]emp/
[Bb]ackup/

## User-specific Files
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/

## App Data / Logs / Local Cache
*.log
*.bak
github_cache.json
ManagerIVTests_*
ManagerIVStateTests_*
ManagerIVArchiveTests_*
ManagerIVTests_*/
ManagerIVStateTests_*/
ManagerIVArchiveTests_*/

## Test Results and Coverage
TestResults/
*.clog
